{% extends "license_management_system/base.html" %}
{% load static %}

{% block optional %}
  <link rel="stylesheet" href="{% static "license_management_system/pages/css/pages/page-misc.css" %}"/>
{% endblock %}

{% block content %} 
<!--Under Maintenance -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
      <h2 class="mb-2 mx-2">Under Maintenance!</h2>
      <p class="mb-4 mx-2">Sorry for the inconvenience but this screen is being designed</p>
      <a href="{% url "user:dashboard" %}" class="btn btn-primary">Back to home</a>
      <div class="mt-4">
        <img
          src="{% static "license_management_system/img/illustrations/girl-doing-yoga-light.png"  %}"
          alt="girl-doing-yoga-light"
          width="500"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <!-- /Under Maintenance -->
{% endblock %}


