{% extends "license_management_system/base.html" %}
{% load static %}

{% block optional %}
  <link rel="stylesheet" href="{% static "license_management_system/pages/css/pages/page-misc.css" %}"/>
{% endblock %}

{% block content %} 
<!--Under Maintenance -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
      <h2 class="mb-2 mx-2">Oops!</h2>
      <p class="mb-4 mx-2">You have not yet been assigned any role.</p>
      <a href="{% url "user:logoutAndLicenseList" %}" class="btn btn-primary">Logout and view Approved License List</a>
      <div class="mt-4">
        <img
          src="{% static "license_management_system/img/illustrations/girl-doing-yoga-light.png"  %}"
          alt="girl-doing-yoga-light"
          width="500"
          class="img-fluid"
        />
      </div>      
    </div>
  </div>
  <!-- /Under Maintenance -->
{% endblock %}


