{% extends "license_management_system/base.html" %}
{% load static %}
{% load pollExtras %}

{%block optional%}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}


{% block content%}
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

  
    <aside id="layout-menu" class="layout-menu menu-vertical  bg-menu-theme">
      <div class="app-brand demo">
        <a href="{% url "user:dashboard"%}" class="app-brand-link">
          <!-- Logo -->
          <img src="{% static "license_management_system/img/icons/brands/SPDX_Logo_resized.png" %}" alt="SPDX LOGO" class="img_logo">
          <!-- /Logo -->
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>

      {%if "Uploader" in request.session.role%}
        <div class="menu-inner-shadow"></div>
        
          <!-- Menu-option-1 -->
          <li class="menu-header small text-uppercase"><span class="menu-header-text">Uploader Options</span></li>
          <!-- Sub-option-1 -->
          <li class="menu-item">
            <a href="{% url "user:upload" %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-upload"></i>
              <div data-i18n="Basic">Upload</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url "user:viewLicenses" "DraftorRejected"%}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-edit"></i>
              <div data-i18n="Basic">Edit Licenses</div>
            </a>
          </li>
      {% endif %}

      {%if "Approver" in request.session.role%}
        <!-- Menu-option-1 -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Approver Options</span></li>
        <!-- Sub-option-1 -->
        <li class="menu-item">
          <a href="{% url "user:viewLicenses" "Draft"%}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-upload"></i>
            <div data-i18n="Basic">Uploaded License List</div>
          </a>
        </li>
      {% endif %}
      
      {%if "Publisher" in request.session.role%}
      <!-- Menu-option-1 -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Publisher Options</span></li>
      <!-- Sub-option-1 -->
      <li class="menu-item">
        <a href="{% url "user:viewLicenses" "Approved"%}" class="menu-link">
          <i class='bx bx-check'></i>
          <div data-i18n="Basic">Approved Licenses</div>
        </a>
      </li>
    {% endif %}

      {%if "Admin" in request.session.role%}
        <!-- Menu-option-1 -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Admin Options</span></li>

        <!-- Sub-option-1 -->
        <li class="menu-item">
          <a href="{% url "user:viewLicenses" "all"%}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-search"></i>
            <div data-i18n="Basic">Licenses Maintainence</div>
          </a>
        </li>
        <!-- Sub-option-2 -->
        <li class="menu-item">
          <a href="{% url "user:users" "All"%}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Basic">Users Maintainence</div>
          </a>
        </li>
        <!-- Sub-option-3 -->
        <li class="menu-item">
          <a href="{% url "user:namespace"%}" class="menu-link">
            <i class='bx bx-rename'></i>
            <div data-i18n="Basic">Namespace Maintainence</div>
          </a>
        </li>
      {% else %}
        <!-- Sub-option-2 -->
        <li class="menu-item">
          <a href="{% url "user:viewLicenses" "all"%}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-search"></i>
            <div data-i18n="Basic">License List</div>
          </a>
        </li>
      {% endif %}

      <!-- General Options -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">General Options</span></li>
      <!-- Sub-option-1 -->
      <li class="menu-item">
        <a href="{% url "user:profile" %}" class="menu-link">
          <i class="bx bx-user me-2"></i>
          <div data-i18n="Basic">My Profile</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url "user:settings" %}" class="menu-link">
          <i class="bx bx-cog me-2"></i>
          <div data-i18n="Basic">Settings</div>
        </a>
      </li>

      <hr>
      <li class="menu-item">
        <a class="menu-link" href="{% url "user:Logout" %}">
          <i class='bx bx-log-out-circle' ></i>
          <div data-i18n="Basic">Log Out</div>
        </a>
      </li>           
    </ul>

    </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <h4 class="display-4">
        {{ context|trim }}
        <small class="text-muted">{{secondaryContext|trim}}</small>
      </h4> 

    <hr>

      <!-- / Navbar -->

      <!-- Content wrapper -->
    {% block contents %}
    {% endblock %}
      <!-- Content wrapper -->

    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
</div>
{% endblock %}