{% extends "user/base.html" %}
{% load static %}

{% block contents %}

<div class="content-wrapper">
    <!-- Content -->

  <!-- Success Messages -->
  {% for msg in messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <!-- Success Messages -->

  
    <div class="container-xxl flex-grow-1 container-p-y">    
      <div class="col-md">
        <div class="card-body">
          {% if "Admin" in request.session.role %}
            {% if licenseObject.status|lower == "draft" %}
            <div class="alert alert-warning alert-dismissible" role="alert">The license has been drafted</br>
              <strong>By :</strong> {{latestComments.user}}</br>
              <strong>And the comment is : </strong> {{latestComments.comments}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif licenseObject.status|lower == "approved" %}
            <div class="alert alert-success alert-dismissible" role="alert">The license is still has been <strong>Approved</strong> - 
            </br><strong>By : </strong>{{latestComments.user}}</br>
              <strong>With the comments : </strong> {{latestComments.comments}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissible" role="alert">The license is still has been <strong>Rejected</strong>
            </br><strong>By : </strong>{{latestComments.user}}</br>
              <strong>With the comments : </strong> {{latestComments.comments}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
          {% endif %}
            
        </div>
      </div>
        
        <div class="col-lg">
            <div class="card">
              <div class="card-body">                
                <dl class="row mt-2">
                  <dt class="col-sm-3">Title</dt>
                  <dd class="col-sm-9">
                    <p>{{ licenseObject.title }}</p>
                </dd>

                  <dt class="col-sm-3">Name</dt>
                  <dd class="col-sm-9">
                    <p>{{ licenseObject.name }}</p>
                  </dd>

                  <dt class="col-sm-3">Identifier</dt>
                  <dd class="col-sm-9">
                    <p>{{ licenseObject.identifier }}</p>

                  </dd><dt class="col-sm-3">Namespace</dt>
                  <dd class="col-sm-9">
                    <p>{{ licenseObject.namespace }}</p>


                  {% comment %} </dd><dt class="col-sm-3">Status</dt>
                  <dd class="col-sm-9">
                    <p>{{ licenseObject.status }}</p>
                  </dd> {% endcomment %}

                  <dt class="col-sm-3">Text</dt>
                  <dd class="col-sm-9">
                    {% for para in text%}
                      {{para}}</br>
                    {% endfor %}
                  </dd>

                </dl>
              </div>
            </div>
          </div>          
        {% if "Approver" in request.session.role and "Admin" not in request.session.role and isDraft %}
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class = "card">
              <div class ="card-body">   
                <div class="demo-inline-spacing" id="export">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label">Comments</label>
                          <div class="col-sm-10">
                            <textarea
                            id="Comments"
                            class="form-control"
                            name="Comments"
                            placeholder="Any comments?"
                            aria-label="Any comments?"
                          ></textarea>
                          </div>
                        </div>
                        <button type="submit" id ="button" name="action" value="accept" class="btn rounded-pill btn-success">Accept</button>
                        <button type="submit" id="button" name="action" value="reject" class="btn rounded-pill btn-danger">Reject </button>  
                    </form>
                </div>
              </div>
            </div>
        </div>
        {% endif %}

        {% if "Admin" in request.session.role %}
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class = "card">
              <div class ="card-body">   
                <div class="demo-inline-spacing" id="export">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label">Comments</label>
                          <div class="col-sm-10">
                            <textarea
                            id="Comments"
                            class="form-control"
                            name="Comments"
                            placeholder="Any comments?"
                            aria-label="Any comments?"
                          ></textarea>
                          </div>
                        </div>
                        <button type="submit" id ="button" name="action" value="accept" class="btn rounded-pill btn-success">Accept</button> 
                        {% if "Admin" in request.session.role %}                         
                          <button type="submit" id="button" name="action" value="reject" class="btn rounded-pill btn-warning">Reject </button>
                          </br>
                        </br>
                          <button type="submit" id="button" name="action" value="delete" class="btn rounded-pill btn-danger">Delete License </button>  
                        {% else %}                          
                          <button type="submit" id="button" name="action" value="reject" class="btn rounded-pill btn-danger">Reject </button>
                        {% endif %}
                        </form>
                </div>
              </div>
            </div>
        </div>
      {% endif %}

      {% if "Admin" not in request.session.role %}
        <div class="col-md">
          <div class="card-body">
            {% if licenseObject.status|lower == "draft" %}
              <div class="alert alert-warning alert-dismissible" role="alert">
            {% elif licenseObject.status|lower == "approved" %}
              <div class="alert alert-success alert-dismissible" role="alert">
            {% else %}
              <div class="alert alert-danger alert-dismissible" role="alert">
            {% endif %}                
              <h5>Latest Comments</h5>
              <strong>Date :</strong> {{latestComments.date}}</br>
              <strong>From :</strong> {{latestComments.user}}</br>
              <strong>Comment: </strong> {{latestComments.comments}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
      {% endif %}
      </div> 
    </div>
</div>

<script type="text/javascript">
  (function() {
      window.location("{% url 'user:dashboard' %}");
  })();       
</script>
    
{% endblock %}