{% extends "user/base.html" %}
{% load static %}

{% block optional %}
    <!-- Load CSS file for DataTables  -->
    <link
      rel="stylesheet"
      href="{%static "license_management_system/pages/css/dataTables.css" %}"
    />

    <!-- load DataTables  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
      integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
{% endblock %}

{% block contents %}
<!-- Striped Rows -->

<!-- Success Messages -->
{% for msg in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">{{msg}}</div> 
{% endfor %}
<!-- Success Messages -->

</br>
<div class="card-body">
    <div class="table-responsive text-nowrap">
        <table class="table table-sm" id="UserView">
            <thead >
                <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role/s</th>
                <th>Last Login Time</th>
                <th>Date Joined</th>
                <th>Account Status</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in Users %} 
                    {% if user.is_superuser != 1%} 
                        <tr>
                        <td>{{ user.first_name }}</td>
                        <td>
                            {{ user.last_name }}
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if user.groups.all.exists %}
                                {% if user.groups.all.0|lower == "uploader" %}
                                    <span class="badge bg-label-warning me-1">{{user.groups.all.0}}</span></br>
                                {% elif user.groups.all.0|lower == "approver" %}
                                    <span class="badge bg-label-success me-1">{{user.groups.all.0}}</span></br>
                                {% elif user.groups.all.0|lower == "admin" %}
                                    <span class="badge bg-label-primary me-1">{{user.groups.all.0}}</span></br>
                                {% else %}
                                {%endif%}

                                {% if user.groups.all.1|lower == "uploader" %}
                                    <span class="badge bg-label-warning me-1">{{user.groups.all.1}}</span></br>
                                {% elif user.groups.all.1|lower == "approver" %}
                                    <span class="badge bg-label-success me-1">{{user.groups.all.1}}</span></br>
                                {% elif user.groups.all.1|lower == "admin" %}
                                    <span class="badge bg-label-primary me-1">{{user.groups.all.1}}</span></br>
                                {% else %}
                                {%endif%}

                                {% if user.groups.all.2|lower == "uploader" %}
                                    <span class="badge bg-label-warning me-1">{{user.groups.all.2}}</span></br>
                                {% elif user.groups.all.2|lower == "approver" %}
                                    <span class="badge bg-label-success me-1">{{user.groups.all.2}}</span></br>
                                {% elif user.groups.all.2|lower == "admin" %}
                                    <span class="badge bg-label-primary me-1">{{user.groups.all.2}}</span></br>
                                {% else %}
                                {%endif%}
                            {%else%}
                            <span class="badge bg-label-danger me-1">No role</span>
                            {%endif%}

                        </td>
                        <td>
                            {{ user.last_login }}
                        </td>
                        <td>
                            {{ user.date_joined }}
                        </td>
                        <td>
                            {% if user.is_active == 1 %}
                                <span class="badge bg-label-success me-1">ACTIVE</span></br>                                
                            {% else %}
                            <span class="badge bg-label-danger me-1">INACTIVE</span></br>              
                            {% endif %}
                        </td> 
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url "user:userActivity" user.id %}"
                                    ><i class="bx bx-receipt me-1"></i> View Activity </a>
                                    {% if user.groups.all.0|lower != "admin" %}
                                        {% if user.groups.all.exists %}
                                            <a class="dropdown-item" href="{% url "user:setGroups" user.id %}"                           
                                            ><i class="bx bx-receipt me-1"></i> Change Roles </a>
                                        {% else %}
                                            <a class="dropdown-item" href="{% url "user:setGroups" user.id %}"                           
                                            ><i class="bx bx-receipt me-1"></i> Set Roles </a>
                                        {% endif %}

                                        {% if user.is_active %}
                                            <a class="dropdown-item" href="{% url "user:deactivateProfile" user.id %}"                           
                                            ><i class='bx bx-user-minus' ></i> Deactivate Profile </a>
                                        {% else %}
                                            <a class="dropdown-item" href="{% url "user:deactivateProfile" user.id %}"                           
                                            ><i class='bx bx-user-plus' ></i> Activate Profile </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>          
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
            </table> 
        </div>     
        <script>
            $(document).ready( function () {
                $('#UserView').DataTable();
            } );
        </script>   
    <!--/ Striped Rows -->
</div>

{% endblock %}