{% extends "user/base.html" %}
{% load static %}

{% block contents %}
<!-- Content -->
<div class="content-wrapper">

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Select {{name}}'s </span>Roles</h4>
    <div class="row">
      <!-- Form Layout -->
      <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-header d-flex align-items-center justify-content-between">
          </div>
          <div class="card-body">
            <form id="formAuthentication" class="mb-3" method="POST" enctype="multipart/form-data">
              {% csrf_token %}              
              <h5>Select either Admin or one or more of Approver/ Uploader and Publisher</h5>
              <div class="form-check mt-3">
                {% if isApprover %}
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="Approver" checked/>
                {% else %}
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="Approver" />                    
                {% endif %}
                <label class="form-check-label" for="defaultCheck1"> Approver </label>
              </div>

              <div class="form-check mt-3">
                {% if isUploader %}
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="Uploader" checked/>
                {% else %}
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="Uploader" />                
                {% endif %}                
                <label class="form-check-label" for="defaultCheck1"> Uploader </label>
              </div>

              <div class="form-check mt-3">
                {% if isPublisher %}
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="Publisher" checked/>
                {% else %}
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="Publisher" />               
                {% endif %} 
                <label class="form-check-label" for="defaultCheck1"> Publisher </label>
              </div>

              <div class="form-check">

                <div class="divider">
                    <hr>
                </div>  

                {% if isAdmin %}
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="Admin" checked/>
                {% else %}
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="Admin" />
                {% endif %}
                <label class="form-check-label" for="defaultCheck3"> Admin </label>
              </div>
              
              {%  if noSelection %}
                <div class="alert alert-warning" role="alert">You have not selected any role!</div>
              {% endif %}
              {%  if wrongSelection %}
                <div class="alert alert-warning" role="alert">Admin and another role selected!</div>
              {% endif %}
            </br>
              <div class="row justify-content">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {
      window.location("{% url "user:dashboard" %}");
  })(); 
</script>


  <!-- Content -->
{% endblock %}