{% extends "license_management_system/base.html" %}
{% load static %}

{% block optional %}
  <link rel="stylesheet" href="{% static "license_management_system/pages/css/pages/page-misc.css" %}"/>
{% endblock %}

{% block content %} 
<!-- Error -->
<div class="container-xxl container-p-y">  
  <div class="misc-wrapper">
    <h2 class="mb-2 mx-2">No permission to view this screen</h2>
    <p class="mb-4 mx-2">Oops! Your role does not include the requested URL </p>
    <div class="mt-3">
      <img
        src="{% static "license_management_system/img/illustrations/error.png"  %}""
        alt="404"
        width="500"
        class="img-fluid"
      />
    </div>
  </div>
</div>
<!-- /Error -->
{% endblock %}


